name: oss-deploy-deepset-minilm-uncased-squad2

on: 
  workflow_dispatch:

env:
  test_model_name: deepset-minilm-uncased-squad2
  test_sku_type: cpu
  test_trigger_next_model: false
  test_queue: test-southcentralus-111
  test_set: huggingface-all
  test_keep_looping: false
  actual_model_name: deepset/minilm-uncased-squad2

jobs:
  deploy-model-job:
    runs-on: ubuntu-latest
    steps:
    - name: check-out-repo-step
      uses: actions/checkout@v3
    - name: azure-login-step
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CRED}}
    - name: pip-install-azure-ai-ml
      run: pip install azure-ai-ml
    - name: pip-install-azureml-core
      run: pip install azureml-core
    - name: pip-install-azureml-mlflow
      run: pip install azureml-mlflow==1.53.0
    - name: pip-install-transformers
      run: pip install transformers
    - name: pip-install-transformers[torch]
      run: pip install transformers[torch]
    - name: pip-install-torchvision
      run: pip install torchvision 
    - name: pip-install-mlflow
      run: pip install mlflow
    - name: pip-install-python-box
      run: pip install python-box 
    - name: pip-install-sacremoses
      run: pip install sacremoses
    - name: pip-install-sentencepiece
      run: pip install sentencepiece
    - name: pip-install-fugashi[unidic-lite]
      run: pip install fugashi[unidic-lite]  
    - name: pip-install-datasets
      run: pip install datasets
    - name: deploy-model-step
      id: deploy-model-step
      run: python generic_oss_model_deployment.py
      working-directory: tests/src/oss_model_deployment
